<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Login</title>
  <style>
    #login_form {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }

    .login_item {
      margin-bottom: 10px;
    }

    .exc {
      margin-bottom: 10px;
      color: red;
      align: center;
    }
  </style>
</head>
<body>
  <div id="login_form">
    <form method="post" th:action="@{/login/auth}" th:object="${loginForm}">
      <img class="login_item" th:src="@{/images/book_icon.png}">
      <br/>
      <table>
        <tr>
          <td><input class="login_item" type="text" th:placeholder="#{login.fieldname.user}" th:field="*{username}"></td>
          <td class="exc" th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Generic Error</td>
        </tr>
        <tr>
          <td><input class="login_item" type="password" th:placeholder="#{login.fieldname.password}" th:field="*{password}"></td>
          <td class="exc" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Generic Error</td>
        </tr>
      </table>
      <input class="login_item" type="submit" th:value="#{login.action.login}"> <a th:href="@{/login/register}" th:text="#{login.action.register}" />
      <br/>
      <div th:if="${#fields.hasErrors('global')}">
        <p class="exc" th:each="err : ${#fields.errors('global')}" th:text="${err}">Exception</p>
      </div>
    </form>
  </div>
</body>
</html>
